In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Dataset taken from https://www.kaggle.com/datasets/bryanb/df-player-stats-database/data?select=df22_official_data.csv
df_full = pd.read_csv("./FIFA22_official_data.csv")
df_full.head(5)

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,DefensiveAwareness
0,212198,Bruno Fernandes,26,https://cdn.sofifa.com/players/212/198/22_60.png,Portugal,https://cdn.sofifa.com/flags/pt.png,88,89,Manchester United,https://cdn.sofifa.com/teams/11/30.png,...,65.0,12.0,14.0,15.0,8.0,14.0,CAM,88.0,€206.9M,72.0
1,209658,L. Goretzka,26,https://cdn.sofifa.com/players/209/658/22_60.png,Germany,https://cdn.sofifa.com/flags/de.png,87,88,FC Bayern München,https://cdn.sofifa.com/teams/21/30.png,...,77.0,13.0,8.0,15.0,11.0,9.0,CM,87.0,€160.4M,74.0
2,176580,L. Suárez,34,https://cdn.sofifa.com/players/176/580/22_60.png,Uruguay,https://cdn.sofifa.com/flags/uy.png,88,88,Atlético de Madrid,https://cdn.sofifa.com/teams/240/30.png,...,38.0,27.0,25.0,31.0,33.0,37.0,ST,88.0,€91.2M,42.0
3,192985,K. De Bruyne,30,https://cdn.sofifa.com/players/192/985/22_60.png,Belgium,https://cdn.sofifa.com/flags/be.png,91,91,Manchester City,https://cdn.sofifa.com/teams/10/30.png,...,53.0,15.0,13.0,5.0,10.0,13.0,CM,91.0,€232.2M,68.0
4,224334,M. Acuña,29,https://cdn.sofifa.com/players/224/334/22_60.png,Argentina,https://cdn.sofifa.com/flags/ar.png,84,84,Sevilla FC,https://cdn.sofifa.com/teams/481/30.png,...,82.0,8.0,14.0,13.0,13.0,14.0,LB,84.0,€77.7M,80.0

In [3]:
df_full.shape

(16710, 65)

In [4]:
columns_to_drop = [
    'Photo', 'Flag', 'Overall', 'Potential', 'Club Logo', 'Wage', 'Special', 
    'Real Face', 'Position', 'Jersey Number', 'Joined', 'Loaned From', 
    'Contract Valid Until', 'Best Overall Rating', 'Release Clause'
]
df = df_full.drop(columns=columns_to_drop)

df.head()

,ID,Name,Age,Nationality,Club,Value,Preferred Foot,International Reputation,Weak Foot,Skill Moves,...,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,DefensiveAwareness
0,212198,Bruno Fernandes,26,Portugal,Manchester United,€107.5M,Right,3.0,3.0,4.0,...,NaN,73.0,65.0,12.0,14.0,15.0,8.0,14.0,CAM,72.0
1,209658,L. Goretzka,26,Germany,FC Bayern München,€93M,Right,4.0,4.0,3.0,...,NaN,85.0,77.0,13.0,8.0,15.0,11.0,9.0,CM,74.0
2,176580,L. Suárez,34,Uruguay,Atlético de Madrid,€44.5M,Right,5.0,4.0,3.0,...,NaN,45.0,38.0,27.0,25.0,31.0,33.0,37.0,ST,42.0
3,192985,K. De Bruyne,30,Belgium,Manchester City,€125.5M,Right,4.0,5.0,4.0,...,NaN,65.0,53.0,15.0,13.0,5.0,10.0,13.0,CM,68.0
4,224334,M. Acuña,29,Argentina,Sevilla FC,€37M,Left,2.0,3.0,4.0,...,NaN,84.0,82.0,8.0,14.0,13.0,13.0,14.0,LB,80.0

In [5]:
df.sample(20)[["Value", "Height", "Weight"]]

       Value Height Weight
6570    €90K  178cm   71kg
8461   €1.5M  180cm   77kg
11380  €925K  178cm   63kg
4993   €750K  176cm   69kg
14958  €4.4M  190cm   86kg
9002   €220K  180cm   73kg
1634   €6.5M  172cm   70kg
15230  €2.2M  189cm   87kg
13636  €350K  184cm   74kg
16608  €150K  196cm   75kg
8050   €1.2M  178cm   78kg
2007   €1.5M  174cm   69kg
3352   €1.2M  184cm   73kg
10750  €750K  181cm   66kg
12822  €1.1M  176cm   78kg
6857   €275K  186cm   78kg
13424  €475K  173cm   68kg
2156   €1.2M  181cm   78kg
16662  €250K  196cm   76kg
5748     €1M  175cm   70kg

In [6]:
(df.loc[df['Value'].str.startswith("€")].shape[0] ,
 
df.loc[df['Value'].str.endswith("M")].shape[0] + \
df.loc[df['Value'].str.endswith("K")].shape[0] ,

df.loc[df['Height'].str.endswith("cm")].shape[0] ,

df.loc[df['Weight'].str.endswith("kg")].shape[0])

(16710, 16366, 16710, 16710)

In [7]:
df['Value'] = df['Value'].str.split('€')
df['Value'] = df['Value'].apply(lambda x:x[1])

df_value_K = df.loc[df['Value'].str.endswith('K')]
df_value_K['Value'] = df_value_K['Value'].apply(lambda x: x[:-1])
df_value_K['Value'] = df_value_K['Value'].astype('float64')
df_value_K['Value'] = df_value_K['Value'] / 1000

df_value_M = df.loc[df['Value'].str.endswith('M')]
df_value_M['Value'] = df_value_M['Value'].apply(lambda x: x[:-1])
df_value_M['Value'] = df_value_M['Value'].astype('float64')

df = pd.concat([df_value_M,df_value_K])

df = df[df['Value'] != 0]

df['Height'] = df['Height'].apply(lambda x : x[:-2])
df['Height'] = df['Height'].astype('int64')

df['Weight'] = df['Weight'].apply(lambda x : x[:-2])
df['Weight'] = df['Weight'].astype('int64')

df.head()

C:\Users\hassa\AppData\Local\Temp\ipykernel_5684\2002839530.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_value_K['Value'] = df_value_K['Value'].apply(lambda x: x[:-1])
C:\Users\hassa\AppData\Local\Temp\ipykernel_5684\2002839530.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_value_K['Value'] = df_value_K['Value'].astype('float64')
C:\Users\hassa\AppData\Local\Temp\ipykernel_5684\2002839530.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_value_K['Value'] = df_value_K['Value'] / 1000
C:\Users\hassa\AppData\Local\Temp\ipykernel_5684\2002839530.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_value_M['Value'] = df_value_M['Value'].apply(lambda x: x[:-1])
C:\Users\hassa\AppData\Local\Temp\ipykernel_5684\2002839530.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_value_M['Value'] = df_value_M['Value'].astype('float64')

,ID,Name,Age,Nationality,Club,Value,Preferred Foot,International Reputation,Weak Foot,Skill Moves,...,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,DefensiveAwareness
0,212198,Bruno Fernandes,26,Portugal,Manchester United,107.5,Right,3.0,3.0,4.0,...,NaN,73.0,65.0,12.0,14.0,15.0,8.0,14.0,CAM,72.0
1,209658,L. Goretzka,26,Germany,FC Bayern München,93.0,Right,4.0,4.0,3.0,...,NaN,85.0,77.0,13.0,8.0,15.0,11.0,9.0,CM,74.0
2,176580,L. Suárez,34,Uruguay,Atlético de Madrid,44.5,Right,5.0,4.0,3.0,...,NaN,45.0,38.0,27.0,25.0,31.0,33.0,37.0,ST,42.0
3,192985,K. De Bruyne,30,Belgium,Manchester City,125.5,Right,4.0,5.0,4.0,...,NaN,65.0,53.0,15.0,13.0,5.0,10.0,13.0,CM,68.0
4,224334,M. Acuña,29,Argentina,Sevilla FC,37.0,Left,2.0,3.0,4.0,...,NaN,84.0,82.0,8.0,14.0,13.0,13.0,14.0,LB,80.0

In [8]:
df.sample(30)[["Value", "Height", "Weight"]]

        Value  Height  Weight
15023   0.220     188      77
1580    4.700     177      70
10477   1.200     185      77
8176    1.000     177      79
2821    3.600     179      73
15013   0.325     185      74
16159   0.025     190      86
9832    1.100     170      67
4046    2.300     181      72
8072    2.700     180      74
2850    9.500     180      73
3873    5.500     174      68
1018    4.800     175      73
10683   1.600     185      79
968    17.000     177      67
9166    1.600     174      63
8786    0.875     189      85
2483   10.500     180      75
8047    0.575     178      81
14233   0.275     172      63
9306    0.700     181      79
14666   0.220     188      77
13701   0.525     188      85
5044    2.000     183      78
4948    1.600     181      77
14423   0.300     184      84
3982    1.900     178      69
9259    1.400     174      68
6489    0.350     180      82
343     4.000     173      71

In [9]:
df.shape

(16366, 50)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16366 entries, 0 to 16708
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        16366 non-null  int64
 1   Name                      16366 non-null  object
 2   Age                       16366 non-null  int64
 3   Nationality               16366 non-null  object
 4   Club                      16366 non-null  object
 5   Value                     16366 non-null  float64
 6   Preferred Foot            16366 non-null  object
 7   International Reputation  16366 non-null  float64
 8   Weak Foot                 16366 non-null  float64
 9   Skill Moves               16366 non-null  float64
 10  Work Rate                 16366 non-null  object
 11  Body Type                 16366 non-null  object
 12  Height                    16366 non-null  int64
 13  Weight                    16366 non-null  int64
 14  Crossing                  16366 non-null  float64
 15  Finishing                 16366 non-null  float64
 16  HeadingAccuracy           16366 non-null  float64
 17  ShortPassing              16366 non-null  float64
 18  Volleys                   16366 non-null  float64
 19  Dribbling                 16366 non-null  float64
 20  Curve                     16366 non-null  float64
 21  FKAccuracy                16366 non-null  float64
 22  LongPassing               16366 non-null  float64
 23  BallControl               16366 non-null  float64
 24  Acceleration              16366 non-null  float64
 25  SprintSpeed               16366 non-null  float64
 26  Agility                   16366 non-null  float64
 27  Reactions                 16366 non-null  float64
 28  Balance                   16366 non-null  float64
 29  ShotPower                 16366 non-null  float64
 30  Jumping                   16366 non-null  float64
 31  Stamina                   16366 non-null  float64
 32  Strength                  16366 non-null  float64
 33  LongShots                 16366 non-null  float64
 34  Aggression                16366 non-null  float64
 35  Interceptions             16366 non-null  float64
 36  Positioning               16366 non-null  float64
 37  Vision                    16366 non-null  float64
 38  Penalties                 16366 non-null  float64
 39  Composure                 16187 non-null  float64
 40  Marking                   795 non-null    float64
 41  StandingTackle            16366 non-null  float64
 42  SlidingTackle             16366 non-null  float64
 43  GKDiving                  16366 non-null  float64
 44  GKHandling                16366 non-null  float64
 45  GKKicking                 16366 non-null  float64
 46  GKPositioning             16366 non-null  float64
 47  GKReflexes                16366 non-null  float64
 48  Best Position             16366 non-null  object
 49  DefensiveAwareness        15571 non-null  float64
dtypes: float64(39), int64(4), object(7)
memory usage: 6.4+ MB

In [11]:
gk_columns_to_drop = [
    'GKDiving', 'GKHandling', 'GKKicking', 
    'GKPositioning', 'GKReflexes'
]
df = df.drop(columns=gk_columns_to_drop)
df = df[df['Best Position'] != 'GK']

df.head()

,ID,Name,Age,Nationality,Club,Value,Preferred Foot,International Reputation,Weak Foot,Skill Moves,...,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,Best Position,DefensiveAwareness
0,212198,Bruno Fernandes,26,Portugal,Manchester United,107.5,Right,3.0,3.0,4.0,...,66.0,87.0,90.0,91.0,87.0,NaN,73.0,65.0,CAM,72.0
1,209658,L. Goretzka,26,Germany,FC Bayern München,93.0,Right,4.0,4.0,3.0,...,86.0,85.0,84.0,60.0,82.0,NaN,85.0,77.0,CM,74.0
2,176580,L. Suárez,34,Uruguay,Atlético de Madrid,44.5,Right,5.0,4.0,3.0,...,41.0,91.0,84.0,83.0,87.0,NaN,45.0,38.0,ST,42.0
3,192985,K. De Bruyne,30,Belgium,Manchester City,125.5,Right,4.0,5.0,4.0,...,66.0,88.0,94.0,83.0,89.0,NaN,65.0,53.0,CM,68.0
4,224334,M. Acuña,29,Argentina,Sevilla FC,37.0,Left,2.0,3.0,4.0,...,79.0,81.0,82.0,76.0,87.0,NaN,84.0,82.0,LB,80.0

In [12]:
df.shape

(14858, 45)

In [13]:
df = df.drop(columns=['Marking'])

df['Composure'].fillna(df['Composure'].mean(), inplace=True)
df['DefensiveAwareness'].fillna(df['DefensiveAwareness'].mean(), inplace=True)

df.isnull().sum()

C:\Users\hassa\AppData\Local\Temp\ipykernel_5684\453856258.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Composure'].fillna(df['Composure'].mean(), inplace=True)
C:\Users\hassa\AppData\Local\Temp\ipykernel_5684\453856258.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['DefensiveAwareness'].fillna(df['DefensiveAwareness'].mean(), inplace=True)

ID                          0
Name                        0
Age                         0
Nationality                 0
Club                        0
Value                       0
Preferred Foot              0
International Reputation    0
Weak Foot                   0
Skill Moves                 0
Work Rate                   0
Body Type                   0
Height                      0
Weight                      0
Crossing                    0
Finishing                   0
HeadingAccuracy             0
ShortPassing                0
Volleys                     0
Dribbling                   0
Curve                       0
FKAccuracy                  0
LongPassing                 0
BallControl                 0
Acceleration                0
SprintSpeed                 0
Agility                     0
Reactions                   0
Balance                     0
ShotPower                   0
Jumping                     0
Stamina                     0
Strength                    0
LongShots                   0
Aggression                  0
Interceptions               0
Positioning                 0
Vision                      0
Penalties                   0
Composure                   0
StandingTackle              0
SlidingTackle               0
Best Position               0
DefensiveAwareness          0
dtype: int64

In [14]:
df.sample(5)

,ID,Name,Age,Nationality,Club,Value,Preferred Foot,International Reputation,Weak Foot,Skill Moves,...,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,StandingTackle,SlidingTackle,Best Position,DefensiveAwareness
10223,177315,21 G. Roberts,36,England,Accrington Stanley,0.16,Left,1.0,3.0,3.0,...,62.0,33.0,63.0,65.0,66.0,65.0,33.0,30.0,CAM,37.0
6507,211037,De La Hoz,29,Spain,Unión Deportiva Almería,1.40,Left,1.0,3.0,2.0,...,66.0,68.0,63.0,64.0,42.0,60.0,69.0,66.0,CDM,66.0
8758,227629,O. Finney,23,England,Crewe Alexandra,1.10,Left,1.0,3.0,3.0,...,36.0,53.0,62.0,64.0,50.0,61.0,55.0,48.0,CAM,52.0
8331,246174,H. Elliott,18,England,Liverpool,7.00,Left,1.0,4.0,4.0,...,32.0,30.0,67.0,76.0,59.0,70.0,29.0,21.0,CAM,32.0
10941,230390,Alexandre Frandeira,21,Brazil,Atlético Clube Goianiense,1.90,Right,1.0,1.0,2.0,...,84.0,68.0,36.0,34.0,43.0,73.0,71.0,67.0,CB,72.0

In [15]:
df.shape

(14858, 44)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14858 entries, 0 to 15999
Data columns (total 44 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        14858 non-null  int64
 1   Name                      14858 non-null  object
 2   Age                       14858 non-null  int64
 3   Nationality               14858 non-null  object
 4   Club                      14858 non-null  object
 5   Value                     14858 non-null  float64
 6   Preferred Foot            14858 non-null  object
 7   International Reputation  14858 non-null  float64
 8   Weak Foot                 14858 non-null  float64
 9   Skill Moves               14858 non-null  float64
 10  Work Rate                 14858 non-null  object
 11  Body Type                 14858 non-null  object
 12  Height                    14858 non-null  int64
 13  Weight                    14858 non-null  int64
 14  Crossing                  14858 non-null  float64
 15  Finishing                 14858 non-null  float64
 16  HeadingAccuracy           14858 non-null  float64
 17  ShortPassing              14858 non-null  float64
 18  Volleys                   14858 non-null  float64
 19  Dribbling                 14858 non-null  float64
 20  Curve                     14858 non-null  float64
 21  FKAccuracy                14858 non-null  float64
 22  LongPassing               14858 non-null  float64
 23  BallControl               14858 non-null  float64
 24  Acceleration              14858 non-null  float64
 25  SprintSpeed               14858 non-null  float64
 26  Agility                   14858 non-null  float64
 27  Reactions                 14858 non-null  float64
 28  Balance                   14858 non-null  float64
 29  ShotPower                 14858 non-null  float64
 30  Jumping                   14858 non-null  float64
 31  Stamina                   14858 non-null  float64
 32  Strength                  14858 non-null  float64
 33  LongShots                 14858 non-null  float64
 34  Aggression                14858 non-null  float64
 35  Interceptions             14858 non-null  float64
 36  Positioning               14858 non-null  float64
 37  Vision                    14858 non-null  float64
 38  Penalties                 14858 non-null  float64
 39  Composure                 14858 non-null  float64
 40  StandingTackle            14858 non-null  float64
 41  SlidingTackle             14858 non-null  float64
 42  Best Position             14858 non-null  object
 43  DefensiveAwareness        14858 non-null  float64
dtypes: float64(33), int64(4), object(7)
memory usage: 5.1+ MB

In [17]:
df['Best Position'].unique()

array(['CAM', 'CM', 'ST', 'LB', 'CDM', 'CB', 'RB', 'LM', 'RW', 'LW', 'CF',
       'LWB', 'RM', 'RWB'], dtype=object)

In [18]:
df.loc[df['Best Position'].isin(('CF', 'ST')),'Best Position'] = 'ST'
df.loc[df['Best Position'].isin(('LW', 'LM')),'Best Position'] = 'LM'
df.loc[df['Best Position'].isin(('RW', 'RM')),'Best Position'] = 'RM'
df.loc[df['Best Position'].isin(('LB', 'LWB')),'Best Position'] = 'LB'
df.loc[df['Best Position'].isin(('RB', 'RWB')),'Best Position'] = 'RB'

In [19]:
df['Best Position'].unique()

array(['CAM', 'CM', 'ST', 'LB', 'CDM', 'CB', 'RB', 'LM', 'RM'],
      dtype=object)

In [20]:
df.drop_duplicates(inplace=True)
df.shape

(14858, 44)

In [21]:
df.reset_index(drop=True, inplace=True)
df.head()

,ID,Name,Age,Nationality,Club,Value,Preferred Foot,International Reputation,Weak Foot,Skill Moves,...,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,StandingTackle,SlidingTackle,Best Position,DefensiveAwareness
0,212198,Bruno Fernandes,26,Portugal,Manchester United,107.5,Right,3.0,3.0,4.0,...,78.0,66.0,87.0,90.0,91.0,87.0,73.0,65.0,CAM,72.0
1,209658,L. Goretzka,26,Germany,FC Bayern München,93.0,Right,4.0,4.0,3.0,...,81.0,86.0,85.0,84.0,60.0,82.0,85.0,77.0,CM,74.0
2,176580,L. Suárez,34,Uruguay,Atlético de Madrid,44.5,Right,5.0,4.0,3.0,...,87.0,41.0,91.0,84.0,83.0,87.0,45.0,38.0,ST,42.0
3,192985,K. De Bruyne,30,Belgium,Manchester City,125.5,Right,4.0,5.0,4.0,...,76.0,66.0,88.0,94.0,83.0,89.0,65.0,53.0,CM,68.0
4,224334,M. Acuña,29,Argentina,Sevilla FC,37.0,Left,2.0,3.0,4.0,...,84.0,79.0,81.0,82.0,76.0,87.0,84.0,82.0,LB,80.0

In [22]:
df.to_csv('FIFA22_preprocessed.csv')
df.sample(20)

,ID,Name,Age,Nationality,Club,Value,Preferred Foot,International Reputation,Weak Foot,Skill Moves,...,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,StandingTackle,SlidingTackle,Best Position,DefensiveAwareness
3291,237499,21 A. Sabiri,23,Germany,SC Paderborn 07,2.000,Right,1.0,4.0,3.0,...,53.0,46.0,67.0,62.0,57.0,64.0,53.0,54.0,CAM,48.0
1103,211098,B. Dack,27,England,Blackburn Rovers,4.900,Right,1.0,4.0,4.0,...,80.0,55.0,79.0,73.0,62.0,77.0,56.0,48.0,CAM,46.0
6170,242835,L. Balerdi,22,Argentina,Olympique de Marseille,9.000,Right,1.0,2.0,2.0,...,74.0,72.0,33.0,43.0,47.0,64.0,77.0,72.0,CB,74.0
11817,261277,J. Brown,23,Republic of Ireland,Drogheda United,0.350,Right,1.0,3.0,2.0,...,66.0,52.0,58.0,44.0,44.0,42.0,51.0,53.0,RB,56.0
4810,245061,J. López,21,Argentina,Racing Club,1.600,Right,1.0,3.0,3.0,...,67.0,56.0,59.0,65.0,49.0,58.0,62.0,60.0,CAM,63.0
13340,263147,A. Musi,16,Romania,FCSB (Steaua),0.500,Right,1.0,3.0,3.0,...,40.0,25.0,50.0,52.0,50.0,57.0,30.0,25.0,RM,20.0
6651,194222,Laguardia,31,Spain,Deportivo Alavés,9.500,Right,1.0,3.0,2.0,...,89.0,80.0,44.0,46.0,40.0,71.0,80.0,76.0,CB,82.0
6340,231219,B. Rivero,25,Argentina,Defensa y Justicia,1.400,Right,1.0,2.0,2.0,...,71.0,61.0,55.0,66.0,48.0,64.0,66.0,64.0,CDM,62.0
7184,198198,Jordi Amat,29,Spain,KAS Eupen,1.300,Right,2.0,3.0,2.0,...,81.0,68.0,30.0,59.0,28.0,69.0,70.0,68.0,CB,69.0
1954,200446,Camilo Sanvezzo,32,Brazil,Mazatlán Futbol Club,3.400,Right,1.0,4.0,4.0,...,55.0,29.0,69.0,66.0,73.0,72.0,38.0,33.0,ST,21.0
3863,205431,N. Füllkrug,28,Germany,SV Werder Bremen,6.000,Right,1.0,4.0,3.0,...,67.0,24.0,80.0,61.0,78.0,72.0,30.0,17.0,ST,41.0
5511,232786,K. Endo,23,Japan,1. FC Union Berlin,2.100,Right,1.0,4.0,3.0,...,58.0,36.0,67.0,58.0,46.0,51.0,59.0,51.0,RM,40.0
3215,252239,L. González,21,Argentina,Club Atlético Independiente,3.600,Right,1.0,3.0,3.0,...,71.0,58.0,68.0,76.0,49.0,79.0,62.0,61.0,CAM,55.0
11302,210787,21 M. Dos Santos,30,Argentina,Godoy Cruz,0.825,Right,1.0,3.0,2.0,...,78.0,60.0,42.0,43.0,46.0,71.0,67.0,59.0,CB,65.0
1036,193683,X. Chavalerin,30,France,ESTAC Troyes,6.500,Left,1.0,3.0,3.0,...,71.0,76.0,60.0,73.0,63.0,66.0,73.0,69.0,CDM,69.0
9415,224690,Li Ang,27,China PR,Shanghai Port FC,0.950,Left,1.0,3.0,2.0,...,67.0,64.0,56.0,56.0,58.0,60.0,64.0,64.0,CB,65.0
14593,247407,21 K. Mouanga,19,France,Angers SCO,0.600,Right,1.0,3.0,2.0,...,53.0,59.0,22.0,33.0,46.0,46.0,68.0,62.0,CB,55.0
14428,259291,C. Torres,17,United States,Los Angeles FC,0.200,Right,1.0,3.0,2.0,...,38.0,20.0,54.0,46.0,53.0,47.0,21.0,19.0,ST,23.0
1380,192086,A. Kokorin,30,Russia,Fiorentina,5.500,Right,2.0,3.0,4.0,...,64.0,35.0,79.0,70.0,67.0,79.0,42.0,44.0,ST,37.0
3330,243049,M. Viviani,20,Italy,Benevento,2.800,Right,1.0,3.0,2.0,...,63.0,65.0,56.0,72.0,60.0,61.0,68.0,60.0,CM,63.0

In [23]:
df.describe().to_csv('summary_stats.csv')
df.describe()

,ID,Age,Value,International Reputation,Weak Foot,Skill Moves,Height,Weight,Crossing,Finishing,...,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,StandingTackle,SlidingTackle,DefensiveAwareness
count,14858.000000,14858.000000,14858.000000,14858.000000,14858.000000,14858.000000,14858.000000,14858.000000,14858.000000,14858.000000,...,14858.000000,14858.000000,14858.000000,14858.000000,14858.000000,14858.000000,14858.000000,14858.000000,14858.000000,14858.000000
mean,222316.317943,25.494279,3.494149,1.163481,3.051353,2.628752,180.652039,74.516826,56.064342,52.462243,...,53.772984,61.067237,51.170548,57.421187,58.006057,53.656683,62.658704,52.730987,50.168865,51.424942
std,35513.706489,4.874531,8.218515,0.471001,0.661839,0.662569,6.580728,6.813135,13.511373,16.063420,...,15.424921,14.024786,19.057110,14.187762,12.323328,12.614528,9.638660,19.123937,19.233304,17.377041
min,27.000000,16.000000,0.001000,1.000000,1.000000,2.000000,155.000000,49.000000,13.000000,10.000000,...,12.000000,20.000000,10.000000,12.000000,13.000000,13.000000,19.000000,10.000000,10.000000,10.000000
25%,205085.250000,22.000000,0.700000,1.000000,3.000000,2.000000,176.000000,70.000000,47.000000,40.000000,...,43.000000,52.000000,34.000000,50.000000,50.000000,44.000000,56.000000,35.000000,32.000000,38.000000
50%,230051.000000,25.000000,1.300000,1.000000,3.000000,3.000000,180.000000,74.000000,58.000000,56.000000,...,57.000000,63.000000,57.000000,60.000000,59.000000,54.000000,63.000000,60.000000,57.000000,55.000000
75%,245777.500000,29.000000,2.700000,1.000000,3.000000,3.000000,185.000000,79.000000,66.000000,65.000000,...,65.000000,71.000000,66.000000,67.000000,67.000000,63.000000,69.000000,68.000000,65.000000,65.000000
max,264704.000000,39.000000,194.000000,5.000000,5.000000,5.000000,203.000000,110.000000,94.000000,95.000000,...,94.000000,95.000000,93.000000,96.000000,95.000000,96.000000,96.000000,93.000000,95.000000,93.000000